<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Showcase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F3B15451D46DB6A0031A693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F3B15591D46DB6A0031A693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F3B15641D46DB6A0031A693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
